img {
    width: 50%;
    height: auto;
  }

  body {
    background-color: black;
    color: white;
<<<<<<< Updated upstream
  }

  div {
    font-size: .3rem;
    word-wrap: normal
  }
  
  a:link {
    color: black;
    background-color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: white;
    text-decoration: none;

=======
    font-family: 'Times New Roman', Times, serif;
>>>>>>> Stashed changes
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    pointer-events: none;

  }

  .centertwo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
<<<<<<< Updated upstream
  }

  .topbox-front {
    background-color: skyblue;
    height: 400px;
    width: 100%;
=======
    pointer-events: none;


  }
  
  .image {
    z-index: 3;
  }

  .link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

>>>>>>> Stashed changes
  }