img {
    width: 50%;
    height: auto;
  }

  body {
    background-color: black;
    color: white;
  }

  div {
    font-size: .3rem;
    word-wrap: normal
  }
  
  a:link {
    color: black;
    background-color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: white;
    text-decoration: none;

  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .centertwo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .topbox-front {
    background-color: skyblue;
    height: 400px;
    width: 100%;
  }