@media screen and (min-width: 768px) 

{
    .centertwo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
      }
    .image {
      z-index: 3;
    }
}